@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 19ch;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: rgb(250, 204, 21);
  }
}

.animate-typing {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;

  animation:
    typing 4s steps(19, end) forwards,
    blink 0.7s infinite;
}